* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    height: 100vh;
    width: 100%;
}


.left-panel {
    width: 50%;
    background-color: #f0f0f0;
}

.left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.right-panel {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}


.login-box {
    width: 80%;
    max-width: 350px;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}


.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #0059ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0041c9;
}

/* RESPONSIVE */
@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }

    .left-panel,
    .right-panel {
        width: 100%;
        height: 50vh;
    }
}

@media (max-width: 500px) {
    .login-box {
        width: 90%;
    }
}
